body {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #be37be;
}

main {
    display: flex;
    flex-grow: 1;
    background-color: #121010;
  }
  
  .card-header {
    background-color: #121010;
  }
  .card {
    padding: 10px;
    margin: 20px;
    background-color: #373636;
  }
  
  .card-body {
    background-color: #373636;
  }
  
  .container {
    display: flex;
    background-color: #121010;
  }
  
  div h2 {
    background-color: #373636;
  }
  
  .results {
    display: flex;
    justify-content: space-evenly;
  }
  
  .btn {
    color: #be37be;
  }
  
  #fetch-button {
    border: solid;
    border-width: 1px;
    padding: 15px;
    margin: 10px;
  }
  
  #city-and-today {
    display: flex;
    flex-direction: row;
    background-color: #121010;
  }
  
  .row {
    margin: 40px;
  }
  #recent-searches {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #121010;
  }